<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GFKConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GFKConverter.Properties.Settings>
            <setting name="GFKFileDirectory" serializeAs="String">
                <value>E:\GFKConverter\GFKFiles</value>
            </setting>
            <setting name="InterMediateFileDirectory" serializeAs="String">
                <value>E:\GFKConverter\Intermediate</value>
            </setting>
            <setting name="GFFDirectory" serializeAs="String">
                <value>E:\GFKConverter\GFF</value>
            </setting>
            <setting name="WTDDirectory" serializeAs="String">
                <value>E:\GFKConverter\WTD</value>
            </setting>
            <setting name="GFKProcessedDirectory" serializeAs="String">
                <value>E:\GFKConverter\GFKFiles\Processed</value>
            </setting>
            <setting name="TotalScreenID" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="MapFiles" serializeAs="String">
                <value>E:\GFKConverter\MapFiles</value>
            </setting>
        </GFKConverter.Properties.Settings>
    </applicationSettings>
</configuration>